.food {
  background-image: url(/src/img/whitetexture.png);
  background-repeat: repeat;
  padding-top: 20px;
  padding-bottom: 50px;

  @mixin atMedium {
    padding: 50px 90px 150px 90px;
  }

  &__line {
    background-color: var(--black);
    margin: 0 auto;
    width: 70%;
    height: 8px;
  }
}