.intro {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;

  @mixin atLarge {
    padding: 80px 0;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__textbox {
    margin-top: 8%;
    margin-left: 30px;
  }

  &__text {
    font-weight: 200;
    font-size: calc(30px + 3vw);
    min-width: 300px;
    width: 44vw;
    margin: 10px auto;
    line-height: calc(50px + 3vw);
    @mixin atMedium {
      font-size: 52px;
      line-height: 80px;
    }
    @mixin atLarge {
      margin-left: 0;
      line-height: 60px;
      font-weight: 400;
    }
  }

  &__link {
    display: none;
    @mixin atLarge {
      display: block;
      margin-top: 40px;
      border-color: var(--black);
    }
  }

  &__image {
    grid-row: 1;
    box-shadow: -15px 15px var(--black);
    width: calc(85% - 15px);
    max-width: 665px;
    margin: 30px auto;
    margin-left: 15px;
    @mixin atLarge {
      margin-left: calc(95% - 650px);
    }
  }
}