.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  margin-top: 10vw;

  @mixin atLarge {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
  }

  &__item {
    position: relative;
    overflow: hidden;

    @mixin atLarge {
      &:hover > .grid__border, &:hover > .grid__textbox {
        opacity: 1;
      }
      &:hover > .grid__image {
        transform: scale(1.2);
      }
    }
  }

  &__textbox {
    z-index: 2;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    color: white;
    border: 2px solid white;
    background-color: rgba(60, 60, 60, 0.5);
    width: 70%;
    text-align: center;
    transition: 1s;
  }

  &__text {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 20px 0;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__border {
    z-index: 2;
    opacity: 0;
    position: absolute;
    margin: 0 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 94%;
    height: 94%;
    border: 2px solid white;
    background-color: rgba(0,0,0,0);
    transition: 1s;
    
  }

  &__image {
    display: block;
    width: 100%;
    transition: 1s;
    object-fit: cover;
  }

  &--visible {
    visibility: visible;
  }
}