.text {

  &__heading {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: calc(10vw - 8px);
    @mixin atMedium {
      font-size: 75px;
      margin-bottom: 20px;
    }
  }

  &__subheading {
    margin-left: 7.5%;
    font-size: 24px;
    @mixin atMedium {
      font-size: 32px;
      margin-top: 50px;
    }
  }

  &__paragraph {
    width: 85%;
    max-width: 600px;
    line-height: 24px;
    margin: 20px auto 10px 7.5%;
    @mixin atMedium {
      font-size: 20px;
    }
  }

  &__shadow {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.1;
    font-size: calc(25vw - 30px);
    @mixin atMedium {
      bottom: -30px;
      font-size: 150px;
    }
  }

  &--white {
    color: white;
  }

  &--center {
    text-align: center;
  }

  &--left {
    margin-left: 20%;
  }
}