.text {

  &__heading {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: calc(10vw - 8px);
    letter-spacing: 3px;
    @mixin atMedium {
      font-size: 4rem;
      margin-bottom: 20px;
    }
  }

  &__subheading {
    margin-left: 7.5%;
    font-size: 1.5rem;
    @mixin atMedium {
      font-size: 1.75rem;
      margin-top: 50px;
    }
  }

  &__paragraph {
    width: 85%;
    max-width: 600px;
    line-height: 1.5;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 20px auto 10px 7.5%;
  }

  &__shadow {
    user-select: none;
    cursor: default;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.05;
    font-size: calc(25vw - 30px);
    @mixin atMedium {
      bottom: -30px;
      font-size: 8rem;
    }
  }

  &--white {
    color: white;
  }

  &--center {
    text-align: center;
  }

  &--left {
    margin-left: 20%;
  }
  &--no-m {
    margin-left: 20%;
    @mixin atLarge {
      margin-left: 7%;
    }
  }
}