.text {

  &__heading {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__subheading {
    text-align: center;
    font-size: 24px;
  }

  &__paragraph {
    max-width: 300px;
    line-height: 24px;
    margin: 20px auto 10px auto;
  }

  &__shadow {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.1;
    font-size: 65px;
  }

  &--white {
    color: white;
  }

  &--center {
    text-align: center;
  }

  &--left {
    margin-left: 20%;
  }
}